:root {
  /* COLORS */
  --primary_dark: rgba(33, 33, 33, 1);
  --primary_blue: rgb(50, 96, 204); // rgba(38,72,181,0.73);
  --text_color: rgba(151,145,114,1.0);
  --acc_text: color-mix(in srgb, white 30%, var(--text_color));
  --background: rgba(25, 34, 41, 1.0);
  --text_color_reverse: rgba(25, 34, 41, 1.0);
  --background-reverse: rgba(25, 34, 41, 1.0);
  --grey: color-mix(in srgb, var(--primary_dark) 26%, var(--text_color));
  --light: color-mix(in srgb, var(--primary_dark) 0%, #ffffff);
  --button_hover: rgb(131, 125, 90);
  --warn: rgba(255, 0, 0, 1);

  /* SIZES */
  --max_width: 1000px;

  /* margins */
  --margin_block: 30px;

  /* transition */
  --transition: 0.3s ease;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;
  color: var(--text_color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light) {
  :root {
    --text_color: rgba(33, 53, 71, 1.0);
    --text_color_reverse: rgba(242,243,244,1.0);
    --acc_text: color-mix(in srgb, black 70%, var(--text_color));
    --background: rgba(242,243,244,1.0);
    --background-reverse: rgba(33, 53, 71, 1.0);
    --button_hover:color-mix(in srgb, var(--primary_blue) 70%, #ffffff);
    --filter_invert: invert(0);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: rgba(249, 249, 249, 1.0);
  }
}